\:root
  --duplabe-font-weight: 200
  --bs-body-font-weight: var(--duplabe-font-weight)

  --bs-body-color: #000

a
  text-decoration: none

h1, h2, h3, h4, h5, h6
  font-weight: var(--duplabe-font-weight)

.container
  max-width: 700px

.navbar
  --bs-navbar-nav-link-padding-x: 1rem
  font-size: 1.4rem

  ul
    width: 100%

.navbar-expand .navbar-nav .nav-link
  padding-left: 0

.navbar-nav
  --bs-nav-link-color: var(--bs-link-color)
  --bs-nav-link-hover-color: var(--bs-link-hover-color)

.single
  font-size: 1.1rem

.fas
  font-size: 1rem
  opacity: .3
